
    <section id="about" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>My Story</h2>
                        <p class="text-muted">I am Ganna Androsova, PhD student in Bioinformatics. I started my journey as a Data Scientist during my Master, where I learned programming, researching, presenting results and I decided to bring it to the next level: PhD. I have always been motivated by making a difference to the world, thus I chose the biomedical field and a practical AI application.</p>
                        <p class="text-muted">Step-by-step I have learned the technical background (Python, R, Statistics, Machine Learning, etc.), which is a good start to becoming a Data Scientist. I am working now on storytelling and business insights. Wish me luck and follow my journey!</p>
                        <!-- <hr> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- <div class="device-container"> -->
                        <!-- <div class="device-mockup iphone6_plus portrait white"> -->
                            <!-- <div class="device"> -->
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/profile.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            <!-- </div> -->
                        <!-- </div> -->
                   <!--  </div> -->
                </div>
                
                <div class="col-md-8">
                	<div class="section-heading text-center">
                		<h2>My Passions</h2>
                	</div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-loop text-primary"></i>
                                    <h3>Machine Learning</h3>
                                    <p class="text-muted">From simple models like regression or decision trees all the way up to the deep learning and neural networks.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-graph text-primary"></i>
                                    <h3>Statistics</h3>
                                    <p class="text-muted">From assessing assumptions in inferential statistics to exploring priors in Bayesian statistics.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-graduation text-primary"></i>
                                    <h3>Research</h3>
                                    <p class="text-muted">From forming hypothesis to making conclusions leveraging data.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-puzzle text-primary"></i>
                                    <h3>Data Science</h3>
                                    <p class="text-muted">From making data-driven decisions to predicting future outcomes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
